APP_NAME="UCC CoDE Connect"
ENVIRONMENT=development
SECRET_KEY=change-this-before-production-minimum-32-chars
ACCESS_TOKEN_EXPIRE_MINUTES=1440
DATABASE_URL=sqlite:///./code_connect.db
CORS_ORIGINS=*
MYUCC_URL=https://my.ucc.edu.gh/login
UCC_ELEARNING_URL=https://elearning.ucc.edu.gh/
CODE_WEBSITE_URL=https://code.ucc.edu.gh/
